body,
html {
  font-family: 'PingFangSC', 'Microsoft Yahei', Helvetica, Arial, 'sans-serif';
  color: #333;
}
body {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  color: #333;
}
textarea {
  resize: none;
}
::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}
input::-webkit-input-placeholder,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
input,
legend,
li,
nav,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
button,
em,
input,
p,
span,
strong,
textarea {
  font-size: 100%;
  font-weight: 400;
}
ol,
ul,
li {
  list-style: none;
}
a {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
