// sidebar
$menuText:#000000de;
$menuActiveText:#409EFF;
$subMenuActiveText:#409EFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#f4faff;

$subMenuBg:#f4faff;
$subMenuHover:#d0e5fb;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
